<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ycdev.android.demo.ble.common">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Location permission is needed for BLE scan -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>