<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ycdev.android.bluetooth.explorer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="me.ycdev.android.bluetooth.explorer.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.ycdev.android.bluetooth.explorer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.ycdev.android.bluetooth.explorer.AdvertiserActivity"
            android:label="@string/ble_advertiser"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.ycdev.android.bluetooth.explorer.MainActivity" />
        </activity>

        <activity
            android:name="me.ycdev.android.bluetooth.explorer.ScannerActivity"
            android:label="@string/ble_scanner"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.ycdev.android.bluetooth.explorer.MainActivity" />
        </activity>
        <activity
            android:name="me.ycdev.android.bluetooth.explorer.BleClientActivity"
            android:label="@string/ble_client"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.ycdev.android.bluetooth.explorer.ScannerActivity" />
        </activity>

        <activity
            android:name="me.ycdev.android.bluetooth.explorer.PairedDevicesActivity"
            android:label="@string/ble_paired_viewer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.ycdev.android.bluetooth.explorer.MainActivity" />
        </activity>

        <service
            android:name=".debug.DebugService"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>

</manifest>